In [33]:
import pandas as pd

In [34]:
df1 = pd.read_csv(('Cleaned_Combined_Kaggle_Data.csv'))
# df2 = pd.read_csv(('Combined_Means_Dataset.csv'))
# df3 = pd.read_csv(('Men_Means_Dataset.csv'))
# df4 = pd.read_csv(('Women_Means_Dataset.csv'))

In [35]:
df1.drop(['Country'],axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26171 entries, 0 to 26170
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               26171 non-null  float64
 1   Gender            26171 non-null  object
 2   Formal_Education  26171 non-null  object
 3   Position          26171 non-null  object
 4   Years_Coding      26171 non-null  float64
 5   Salary            26171 non-null  float64
dtypes: float64(3), object(3)
memory usage: 1.2+ MB

In [79]:
# from sklearn.preprocessing import OrdinalEncoder 
# encoder = OrdinalEncoder()
# cats = [['I prefer not to answer',0],
#        ['No formal education past high school',1],
#        ['Some college/university study without earning a bachelors degree',2],
#        ['Professional degree',3],
#        ['Bachelors degree',4],
#        ['Masters degree',5],
#        ['Doctoral degree',6]]

In [80]:
print(df1)

        Age Gender                                   Formal_Education  \
0      23.0   Male                                    Master’s degree
1      42.0   Male                                Professional degree
2      42.0   Male                                    Master’s degree
3      52.0   Male                                    Master’s degree
4      23.0   Male                                    Master’s degree
...     ...    ...                                                ...
26166  64.5   Male  Some college/university study without earning ...
26167  23.0   Male                                  Bachelor’s degree
26168  27.0   Male                                    Master’s degree
26169  37.0   Male                             I prefer not to answer
26170  37.0   Male                                  Bachelor’s degree

                        Position  Years_Coding    Salary
0              Software Engineer           2.0   34999.5
1              Software Engineer           0.0    6249.5
2                          Other           2.0  274999.5
3                 Data Scientist          20.0   64999.5
4                 Data Scientist           5.0   12499.5
...                          ...           ...       ...
26166  Machine Learning Engineer          20.0   64999.5
26167             Data Scientist           2.0   12499.5
26168         Research Scientist          10.0    8749.5
26169  Machine Learning Engineer           2.0    2499.5
26170                      Other          20.0   17499.5

[26171 rows x 6 columns]

In [81]:
# encoded_cats = encoder.fit_transform(df1[['Formal_Education']])

In [82]:
# df1['Formal_Education']=encoded_cats
# df1

In [83]:
df1.drop(['Position'],axis=1,inplace=True)
df1.head()

    Age Gender     Formal_Education  Years_Coding    Salary
0  23.0   Male      Master’s degree           2.0   34999.5
1  42.0   Male  Professional degree           0.0    6249.5
2  42.0   Male      Master’s degree           2.0  274999.5
3  52.0   Male      Master’s degree          20.0   64999.5
4  23.0   Male      Master’s degree           5.0   12499.5

In [84]:
df1 = df1.reset_index()
# df2 = df2.reset_index()
# df3 = df3.reset_index()
# df4 = df4.reset_index()

In [85]:
df1

,index,Age,Gender,Formal_Education,Years_Coding,Salary
0,0,23.0,Male,Master’s degree,2.0,34999.5
1,1,42.0,Male,Professional degree,0.0,6249.5
2,2,42.0,Male,Master’s degree,2.0,274999.5
3,3,52.0,Male,Master’s degree,20.0,64999.5
4,4,23.0,Male,Master’s degree,5.0,12499.5
...,...,...,...,...,...,...
26166,26166,64.5,Male,Some college/university study without earning ...,20.0,64999.5
26167,26167,23.0,Male,Bachelor’s degree,2.0,12499.5
26168,26168,27.0,Male,Master’s degree,10.0,8749.5
26169,26169,37.0,Male,I prefer not to answer,2.0,2499.5
26170,26170,37.0,Male,Bachelor’s degree,20.0,17499.5

In [86]:
# Women_df = df1[df1['Gender'] == 'Female']
# Women_df

In [87]:
# Men_df = df1[df1['Gender'] == 'Female']
# Men_df

In [88]:
# Women_df.to_csv(r'Cleaned_Women_Kaggle_Data_Encoded.csv', index = False)
# df2.to_csv(r'Combined_Means_Dataset1.csv', index = False)
# df3.to_csv(r'Men_Means_Dataset1.csv', index = False)
# df4.to_csv(r'Women_Means_Dataset1.csv', index = False)

In [68]:
import csv
import json
 
 
# # Function to convert a CSV to JSON
# # Takes the file paths as arguments
# def make_json(csvFilePath, jsonFilePath):
     
#     # create a dictionary
#     data = {}
     
#     # Open a csv reader called DictReader
#     with open(csvFilePath, encoding='utf-8') as csvf:
#         csvReader = csv.DictReader(csvf)
         
#         # Convert each row into a dictionary
#         # and add it to data
#         for rows in csvReader:
             
#             # Assuming a column named 'No' to
#             # be the primary key
#             key = rows['index']
#             data[key] = rows
 
#     # Open a json writer, and use the json.dumps()
#     # function to dump data
#     with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
#         jsonf.write(json.dumps(data, indent=4))
         
# # Driver Code
 
# # Decide the two file paths according to your
# # computer system
# csvFilePath = (r'Cleaned_Combined_Kaggle_Data.csv', index = True)
# jsonFilePath = r'data.json'
 
# # Call the make_json function
# make_json(csvFilePath, jsonFilePath)

with open ('Cleaned_Combined_Kaggle_Data.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)
    data = {'All': []}
    for row in reader:
        data['All'].append({"Age": row[0], 
                           "Gender": row[1],
                           "Country": row[2],
                           "Formal_Education": row[3],
                           "Position": row[4],
                           "Years_Coding": row[5],
                           "Salary": row[6]})
        
with open('data.json', 'w') as f:
     json.dump(data, f, indent =4)

In [70]:
#df = pd.read_json('data.json')
df = pd.read_json(df, orient='records')
                                                                                           
df

ValueError: Invalid file path or buffer object type: <class 'pandas.core.frame.DataFrame'>

In [58]:
num = df['All'][0]['Age'] #+ df['All'][3]['Age'].astype(int)
num

'23.0'

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26171 entries, 0 to 26170
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   All     26171 non-null  object
dtypes: object(1)
memory usage: 204.6+ KB