In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv(('Cleaned_Kaggle_2018.csv'))
df.head()

,Age,Gender,Country,Formal_Education,Position,Years_Coding,Salary
0,23.0,Male,France,Master’s degree,Software Engineer,2.0,34999.5
1,42.0,Male,India,Professional degree,Software Engineer,0.0,6249.5
2,42.0,Male,Australia,Master’s degree,Other,2.0,274999.5
3,52.0,Male,France,Master’s degree,Data Scientist,20.0,64999.5
4,23.0,Male,India,Master’s degree,Data Scientist,5.0,12499.5

In [78]:
# df = df[df['Gender'] == 'Female']
# df

In [79]:
#separate the other attributes from the predicting attribute
x = df.drop('Salary',axis=1)
#separte the predicting attribute into Y for model training 
y = df['Salary']

In [80]:
# handle categorical variable
position=pd.get_dummies(x,drop_first=True)
# dropping extra column
x= x.drop('Position',axis=1)
# concatation of independent variables and new cateorical variable.
x=pd.concat([x, position],axis=1)

In [81]:
x = x.drop('Gender', axis =1)

In [82]:
x = x.drop('Formal_Education', axis = 1)

In [83]:
x= x.drop('Country',axis=1)
x

,Age,Years_Coding,Age,Years_Coding,Gender_Male,Gender_Prefer not to say,Gender_Prefer to self-describe,Country_Argentina,Country_Australia,Country_Austria,...,Formal_Education_Some college/university study without earning a bachelor’s degree,Position_DBA/Database Engineer,Position_Data Analyst,Position_Data Engineer,Position_Data Scientist,Position_Other,Position_Product/Project Manager,Position_Research Scientist,Position_Software Engineer,Position_Statistician
0,23.0,2.0,23.0,2.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,42.0,0.0,42.0,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,42.0,2.0,42.0,2.0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,52.0,20.0,52.0,20.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,23.0,5.0,23.0,5.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8451,23.0,5.0,23.0,5.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8452,27.0,2.0,27.0,2.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8453,32.0,2.0,32.0,2.0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8454,27.0,5.0,27.0,5.0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
8455,52.0,5.0,52.0,5.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [84]:
x.shape

(8456, 80)

In [85]:
y.shape

(8456,)

In [86]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [87]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

In [88]:
y_prediction =  LR.predict(x_test)
y_prediction

array([50464.14150023, 34110.96062088, 13633.94381931, ...,
       53966.73014278, 31873.48664425, 54935.31672314])

In [89]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 score is', score)
print('mean_sqrd_error = ', mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of ', np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 score is 0.5081437631959851
mean_sqrd_error =  1937928690.0870311
root_mean_squared error of  44021.911476979636