In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv(('Cleaned_Kaggle_2018.csv'))
df.head()

,Age,Gender,Country,Formal_Education,Position,Years_Coding,Salary
0,23.0,Male,France,Master’s degree,Software Engineer,2.0,34999.5
1,42.0,Male,India,Professional degree,Software Engineer,0.0,6249.5
2,42.0,Male,Australia,Master’s degree,Other,2.0,274999.5
3,52.0,Male,France,Master’s degree,Data Scientist,20.0,64999.5
4,23.0,Male,India,Master’s degree,Data Scientist,5.0,12499.5

In [33]:
df = df[df['Gender'] == 'Female']
df

,Age,Gender,Country,Formal_Education,Position,Years_Coding,Salary
5,23.0,Female,United States of America,Bachelor’s degree,Data Scientist,5.0,84999.5
9,52.0,Female,United States of America,Master’s degree,Data Analyst,20.0,137499.5
11,23.0,Female,Ireland,Master’s degree,Data Analyst,2.0,22499.5
19,32.0,Female,United States of America,Master’s degree,Research Scientist,10.0,174999.5
24,32.0,Female,United States of America,Doctoral degree,Product/Project Manager,20.0,94999.5
...,...,...,...,...,...,...,...
8426,32.0,Female,China,Master’s degree,Data Scientist,5.0,1499.5
8436,64.5,Female,Brazil,Bachelor’s degree,Data Scientist,0.0,6249.5
8437,23.0,Female,India,Master’s degree,Data Scientist,2.0,8749.5
8447,27.0,Female,Kenya,Master’s degree,Data Analyst,5.0,3499.5
8450,23.0,Female,Other,Bachelor’s degree,Other,2.0,6249.5

In [34]:
#separate the other attributes from the predicting attribute
x = df.drop('Salary',axis=1)
#separte the predicting attribute into Y for model training 
y = df['Salary']

In [35]:
# handle categorical variable
position=pd.get_dummies(x,drop_first=True)
# dropping extra column
x= x.drop('Position',axis=1)
# concatation of independent variables and new cateorical variable.
x=pd.concat([x, position],axis=1)

In [36]:
x = x.drop('Gender', axis =1)

In [37]:
x = x.drop('Formal_Education', axis = 1)

In [38]:
x= x.drop('Country',axis=1)
x

,Age,Years_Coding,Age,Years_Coding,Country_Australia,Country_Austria,Country_Belarus,Country_Belgium,Country_Brazil,Country_Canada,...,Formal_Education_Some college/university study without earning a bachelor’s degree,Position_DBA/Database Engineer,Position_Data Analyst,Position_Data Engineer,Position_Data Scientist,Position_Other,Position_Product/Project Manager,Position_Research Scientist,Position_Software Engineer,Position_Statistician
5,23.0,5.0,23.0,5.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,52.0,20.0,52.0,20.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,23.0,2.0,23.0,2.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,32.0,10.0,32.0,10.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,32.0,20.0,32.0,20.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8426,32.0,5.0,32.0,5.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8436,64.5,0.0,64.5,0.0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
8437,23.0,2.0,23.0,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8447,27.0,5.0,27.0,5.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8450,23.0,2.0,23.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [39]:
x.shape

(1102, 74)

In [40]:
y.shape

(1102,)

In [41]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [42]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [43]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

In [44]:
y_prediction =  LR.predict(x_test)
y_prediction

array([ 45686.56410274,  94323.00608455,  15152.3443155 ,  35735.36031652,
       140455.49005096,  31136.22842735, 108290.563402  ,   7534.49286866,
        91861.53487821, 111114.563402  ,   7433.10302912,  -1507.82514294,
       133720.52275364,  35165.34353684,  88978.83222419,  78925.35116634,
        73864.48729224,  13197.3080637 ,   7430.73350217, -13567.03765588,
        34020.227518  ,  23624.56722724,  31517.73150197, -12463.77488949,
       119572.52275364,  30659.02202242,  52494.84393081,  49639.71040057,
        26939.13446228,  37574.25719967, 106605.56686146,  52907.92474165,
         3111.79842608,  10584.80852658,  14448.63102685,  16657.54441862,
       124446.92009967,  21231.51189432,  73552.35555999,  49594.40810761,
        10343.90686238, -20862.55631752,  58887.16920006,  21229.02579975,
        85357.20434112,  28693.73150197,  23621.36491791,  50056.54245063,
        10277.70557897, 108290.563402  , 131052.80120875,  -2718.42531089,
       108290.563402  ,  57907.06569581, 104465.96197673,  94735.73272004,
        64128.593312  ,   7636.52234257,  27970.95696254,  14859.4650831 ,
       147772.4865915 ,  83183.66529366,  48069.55782251,  25607.71486951,
       100319.49422984,  16493.00681885,   7513.96695137, 100386.42721747,
       140455.49005096,  49389.97485681, 103173.53487821,  21233.12822023,
        19373.36491791,  27624.63293994, 103435.30035886,  19993.56996491,
        26963.11380686,  12794.28120609, 111577.50337434,  91589.9709637 ,
       137307.26419672,   5784.00585703,   -732.81737195,  88990.88756578,
        23522.64779015, 108290.563402  ,  74350.36614434,  -6392.60482047,
        24087.07222329,  80295.51278318,  18181.67953516, 102435.17605452,
        27277.40096488,  33830.86331309,  13587.17072506, 119572.52275364,
        33561.46879012,  76993.82125939,  75905.29632956,  54137.08041866,
        20867.26981534,  15996.4070857 , 116549.13540616,  10839.18829802,
        30643.16439349,  -5723.86412892,  42124.17137821,  99463.50797573,
        13626.31725307,  15068.73357311, 100544.99669207,  28716.09976583,
       -15470.81359707,  44232.83690509,  76078.98944062, 120719.5262131 ,
         2360.73644506,  31517.73150197,  24233.900502  ,  75638.47552652,
        65313.96091682,  71340.09217545,  12730.86936647,  35369.03157493,
        28985.97166444,  89419.43527832,  20828.47358646,  57405.53899117,
        20618.68841544,  48480.52345437,  89597.53487821, -11387.86412892,
        82708.63032611,  78462.47552652,  37120.9077048 ,  73953.47898598,
        19605.9034671 ,  12657.20338085,   8955.23783208, 108290.563402  ,
        87201.99345071,  31526.03590025,  88200.42333072, 119572.52275364,
        66547.4907517 , 139324.4865915 ,  38337.5675622 ,  -4604.20471943,
        23621.36491791, 100330.16925596, 108290.563402  ,  77507.40329507,
        17117.03438082,  38934.70899814,  18349.48916618,  34569.12730783,
       101551.08042561, 113946.563402  ,  61640.68162047,  55515.88871957,
         7192.33639412,  89597.53487821, 105643.00608455, 105150.33754776,
        30069.34353684,  14849.45839136,  65301.90557523, 108290.563402  ,
        56467.35129722,  94685.53487821,  32312.93082208,  23299.85559934,
         4944.90257314,  33400.22842735, 100747.95280235,  18652.48152781,
        66193.0230033 ,  19150.02165757, 106005.53487821, 143271.49005096,
        40586.98203597,  43309.3011938 ,   9729.13906367,  10011.3780043 ,
        46391.73093821,  28627.8389341 ,  33273.20097814, 137639.49005096,
        35300.98963761,  89621.16829415,  13426.68634572,  70983.1292757 ,
        80907.85255744,   7192.33639412,  64835.76163837,  54883.15857912,
       105120.2968994 ,  31681.32716098,  36532.16586788,  21357.36491791,
        94367.50797573,   9729.13906367,  95223.17743864,  56973.5595889 ,
        15137.75438822,  18302.7213053 , 139793.40287968, 110893.13540616,
        21285.83910083,  43372.25931694,   9461.24697658,  89621.16829415,
        72807.09534237,  20948.16479204,  11787.23783208,  10816.17541299,
        54973.74210416, 110191.87455979,   2588.60161493,  27186.54502578,
        29286.84150648])

In [45]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 score is', score)
print('mean_sqrd_error = ', mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of ', np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 score is 0.5405569794422582
mean_sqrd_error =  1411832577.262261
root_mean_squared error of  37574.3606367728